Core/MTDataAccess/bin/
Core/MTDataAccess/obj/
DB/bin/
DB/obj/
Web/multitracks.com/multitracks.com/Bin/
.vs
Web/multitracks.com/multitracks.com/obj/
Web/API/Api.MultiTracks.Web.UnitTests/bin/
Web/API/Api.MultiTracks.Web.UnitTests/obj/
Web/API/Api.MultiTracks.Application/bin/
Web/API/Api.MultiTracks.Application/obj/
Web/API/Api.MultiTracks.Domain/bin/
Web/API/Api.MultiTracks.Domain/obj/
Web/API/Api.MultiTracks.Infrastructure/bin/
Web/API/Api.MultiTracks.Infrastructure/obj/
Web/API/Api.MultiTracks.Web/bin/
Web/API/Api.MultiTracks.Web/obj/
packages/
